@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos da barra de navegação */
nav {
    background-color: #333; /* Cor de fundo */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* Espaçamento entre itens */
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
    color: black;
    text-decoration: none;
}

.acao-icon {
    transition-duration: 0.5s;
}

.acao-icon:hover {
    color: red;
}

.acao-editar:hover {
    color: blue;
}
  
.fixed-height-table tbody {
    max-height: 500px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona scroll vertical quando a altura máxima é atingida */
}

#btnCadastrarCategoria {
    border-radius: 5px;
    background-color: #0b7410;
    text-decoration: none;
    box-shadow: none;
    border: none;
    transition-duration: 0.5s;
}

#btnCadastrarCategoria:hover {
    color: white;
    background-color: #45a049;
}

#btnConsultar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#btnConsultar:hover {
    background-color: #45a049;
}
  
#btn-enviar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
  
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="datetime-local"],
input[type="date"],
input[type="text"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.radio-group input {
    margin-right: 10px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}  

.acao-icon {
    font-size: 20px; /* Tamanho do ícone */
    margin-right: 5px; /* Margem à direita para espaçamento */
    cursor: pointer;
}  

@media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        display: block;
        text-align: left;
    }
}